body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.warning {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
  text-align: center;
}

.breakdown {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.warning {
  color: orange;
  font-weight: bold;
  margin-top: 10px;
}

.warning {
  color: orange;
  font-weight: bold;
  margin-top: 10px;
}



.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

input[type='number'],
input[type='radio'] {
  padding: 8px;
  font-size: 16px;
}

input[type="radio"] {
  margin-right: 8px;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
